@font-face {
  font-family: 'Big John';
  src: url('./assets/fonts/BigJohn/BigJohn.woff2') format('woff2'),
      url('./assets/fonts/BigJohn/BigJohn.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 100vw;
  height: 100%;
  overflow-x: hidden;
  
  background: url("./assets/fond.png"), rgb(77,35,142);
  background: url("./assets/fond.png"), radial-gradient(circle, rgba(77,35,142,1) 0%, rgba(1,0,25,1) 61%);

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;


}

a:visited {
  color: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@keyframes neon6 {
  from {
    text-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 10px rgba(63,172,152,1), 0 0 17px rgba(63,172,152,1), 0 0 20px rgba(63,172,152,1);
  }
  to {
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 5px rgba(63,172,152,1), 0 0 8px rgba(63,172,152,1), 0 0 10px rgba(63,172,152,1);
  }
}

@keyframes box-neon6 {
  from {
    box-shadow: 0 0 10px rgba(63,172,152,1), 0 0 17px rgba(63,172,152,1), 0 0 20px rgba(63,172,152,1);
  }
  to {
    box-shadow: 0 0 5px rgba(63,172,152,1), 0 0 8px rgba(63,172,152,1), 0 0 10px rgba(63,172,152,1);
  }
}